*.SLDPRT 
*.SLDASM 
*.step 
*.stp 
*.STL 
*.3mf 
*.zip 
*.pdf 
*.jfif 
*-backups/ 
raspberry-pi-5-sbc-simple v94.SLDPRT 
RobotAssemblageV1.SLDASM 
JACOBSPARTS-XL4015.step 
"N20 Mini Micro Metall Gear Motor.step" 
